$primaryFont: sans-serif;

.fadeIn { animation: fadeIn 0.2s; }
.fadeOut { animation: fadeOut 0.2s; }
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.primaryFont {
  font-family: $primaryFont;
}

.relative { position: relative; }
.absolute { position: absolute; }
.pos-inherit { position: inherit; }
.clear-both { clear: both }
.z-idx-1 { z-index: 1 }

.fill-width {
  width: 100%;
}
@media all and (max-width: 959px) {
  .fill-height-m {
    height: 100% !important;
  }
  .fill-width-m {
    width: 100% !important;
  }
}

.pos-abs-center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mt-56 { margin-top: 224px }
.mt-48 { margin-top: 192px }
.mb-48 { margin-bottom: 192px }
.mt-32 { margin-top: 128px }
.mt-n32 { margin-top: -128px }
.mb-32 { margin-bottom: 128px !important }
.mt-24 { margin-top: 96px !important }
.mt-n24 { margin-top: -96px }
.mb-24 { margin-bottom: 96px !important }
.mt-n20 { margin-top: -80px }
@media all and (min-width: 600px) {
  #app .mb-sm-32 { margin-bottom: 128px !important }
}
@media all and (min-width: 960px) {
  #app .mt-md-56 { margin-top: 224px !important }
  #app .mt-md-48 { margin-top: 192px !important }
  #app .mb-md-48 { margin-bottom: 192px !important }
  #app .mb-md-32 { margin-bottom: 128px !important }
  #app .mt-md-32 { margin-top: 128px !important }
  #app .mt-md-n32 { margin-top: -128px !important }
  #app .mt-md-n24 { margin-top: -96px !important }
  #app .ml-md-24 { margin-left: 96px !important }
  #app .mb-md-24 { margin-bottom: 96px !important }
  #app .mt-md-24 { margin-top: 96px !important }
}

.fs12 { font-size: 12px; }
.fs14 { font-size: 14px !important; }
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs24 { font-size: 24px; }
.fs28 { font-size: 28px; }
.fs30 { font-size: 30px; }
.fs35 { font-size: 35px; }
.fs40 { font-size: 40px; }
.fs50 { font-size: 50px; }
.fs60 { font-size: 60px; }
.fs62 {
  font-size: 62px;
  line-height: 1;
  @media all and (max-width: 959px) { // < sm(960)
    font-size: 42px;
  }
}
@media all and (max-width: 959px) { // < sm(960)
  .fs-m14 { font-size: 14px !important; }
  .fs-m16 { font-size: 16px !important; }
  .fs-m18 { font-size: 18px !important; }
  .fs-m20 { font-size: 20px !important; }
  .fs-m25 { font-size: 25px !important; }
  .fs-m30 { font-size: 30px!important; }
  .fs-m40 { font-size: 40px!important; }
}

.b-rad_0 {
  border-radius: 0 !important;
}
.lh-1 { line-height: 1; }
.lh-1_2 { line-height: 1.2; }
.lh-30 { line-height: 30px; }
.ls-0 { letter-spacing: 0 }
.ls-1 { letter-spacing: 1px }

.va-middle { vertical-align: middle !important; }
.va-top { vertical-align: top !important; }
.va-bottom { vertical-align: bottom !important; }
.pointer { cursor: pointer; }
.filterWhite { filter: brightness(100) }

.logoBox {
  cursor: pointer;
  line-height: 0;
  img {
    vertical-align: middle;
    height: 30px;
    //@media all and (max-width: 959px){
    //  height: 38px;
    //}
  }
}
//.v-progress-linear {
//  background: white !important;
//}

//.theme--dark.v-list-item--active::before {
//  opacity: 0;
//}

//.homeBg {
//  background: url("@/assets/dex-bg.jpg") no-repeat center;
//  background-size: cover;
//}

//.showSearchBox {
//  background-color: #181B25;
//  height: 100%;
//  width: 100%;
//  max-width: 430px;
//  padding-left: 5px;
//  color: #B3B5BD;
//  font-size: 14px;
//  cursor: pointer;
//}

.buySellProgress .v-progress-linear__content {
  color: #2D2C2C;
  font-size: 12px;
}

.myTable {
  tr.buy { color: #51a49a; }
  tr.sell { color: #de5f57; }
  tr:hover {
    background: #161925 !important;
  }
  tr > td {
    height: 40px !important;
  }
}

// web3modal
//.web3modal-modal-card { // wrap
//  font-family: $primaryFont;
//  //border-radius: 0 !important;
//  display: block !important;
//  max-width: 500px !important;
//  padding: 30px !important;
//  //border: 3px solid #3e3e3e;
//
//  &::before {
//    content: 'Connect a Wallet';
//    font-family: $primaryFont;
//    font-weight: bold;
//    display: block;
//    font-size: 22px;
//    margin-bottom: 15px;
//    text-align: left;
//    color: #ffcb12;
//  }
//  .web3modal-provider-wrapper { padding: 0 }
//  .web3modal-provider-container { // sub item
//    border-radius: 0 !important;
//    flex-direction: row-reverse;
//    background: #1D2231;
//    padding: 10px 15px;
//    margin-bottom: 10px;
//  }
//  .web3modal-provider-name {
//    margin-top: 2px;
//    text-align: left;
//    font-weight: normal;
//  }
//  .web3modal-provider-description { display: none; }
//}

//.v-speed-dial--is-active {
//  .v-speed-dial__list {
//    background: #2D3245;
//    border-radius: 3px;
//    padding: 10px 20px;
//    width: auto;
//  }
//}

/* OPT Input plugin */
.otpWrap > div {
  flex: 1 1 auto !important;
  justify-content: center;
}
.otp-input {
  max-width: 47px;
  width: 100%;
  height: 50px;
  padding: 5px;
  margin: 0 5px;
  font-size: 20px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  -moz-appearance:textfield; // hide arrows on field type number for FF
}
.otp-input::-webkit-inner-spin-button,
.otp-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.otp-input::placeholder {
  font-size: 15px;
  text-align: center;
  font-weight: 600;
}
/*.otp-input.is-complete {*/
/*  background-color: #e4e4e4;*/
/*}*/

.blueGradient {
  background: linear-gradient(0deg, #000 0%, #12007f 50%, #000 100%);
}
.firstScreen {
  height: calc(100vh - 64px);
}